<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head') %>
    <body id="scene1">
        <button type="button" onclick="choseWhite()">Play as White</button>
        <button type="button" onclick="choseBlack()">Play as Black</button>
        <button type="button" onclick="choseAIvsAI()">Whatch AI vs AI</button> 
    </body>
    <body>
        White AI type:
        <select id="whiteAI-type">
            <option value="1">stockfish</option>
            <option value="2" selected>alphazero</option>
            <option value="3">random</option>
        </select>
        Black AI type:
        <select id="blackAI-type">
            <option value="1">stockfish</option>
            <option value="2" selected>alphazero</option>
            <option value="3">random</option>
        </select>
    </body>
    <body id ="scene2">
    <div class="settings">
        <button type="button" onclick="boardFlip()">Flip the Board</button>
        <button type="button" onclick="train()">train the neural network</button>
    </div>
    <div id="myBoard" class="board"></div>

    <div class="info">
        Search depth White:
        <select id="search-depth-w">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3" selected>3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>

        Search depth Black:
        <select id="search-depth-b">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3" selected>3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    
        <br>
        <span>Time: <span id="time"></span></span>
        <br>
        <div id="move-history" class="move-history">
        </div>
    </div>
    <%- include ('./partials/scripts') %> 
</body>
</html>


